body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SS{
    width: 100px;
}

.Card{
    width: 400px;
    display: flex;
    margin: 0 auto ;
    background: #fca311 ;
    color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    box-shadow: 10px 5px 5px darkblue;
    animation: 3s linear 1s infinite alternate slide-in;
}

.Card:hover {
    background-color: black;
    color:greenyellow;
    box-shadow: 10px 5px 5px ;
    
}