body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SS{
    width: 100px;
}

.Card{
    width: 400px;
    display: flex;
    margin: 0 auto ;
    background: #fca311 ;
    color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 10px solid #14213d ;
    justify-content: space-around;
    text-align: center;
}